{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% with current_path=request.get_full_path|slice:"3:" %}
<nav class="navbar navbar-expand sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
        <img class="me-2" src="{% static 'img/logo.png' %}" alt="Logo"/>
        <span class="fs-6">Workloadr</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'ressource:signaler_bug' %}" data-bs-toggle="tooltip" data-bs-title="Signaler un bug">
              &#9888
          </a>
        </li>
      <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'ressource:profile' %}">
              <i class="bi bi-person-circle"></i>
          </a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'admin:index' %}" target="_blank">
              <i class="bi bi-gear"></i>
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <form method="post" action="/accounts/logout/" class="m-0">
              {% csrf_token %}
              <button class="btn fs-5 nav-link border-0 bg-transparent" type="submit">
                  <i class="bi bi-box-arrow-up-left"></i>
              </button>
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'account_login' %}">
              <i class="bi bi-box-arrow-in-down-left"></i>
          </a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link fs-5" id="themeToggleIcon" style="cursor: pointer;">
          <i class="fw-bold bi"></i>
        </a>        
      </li>
      </ul>
    </div>
  </div>
</nav>
{% endwith %}