{% load static %}
<!-- theme Bootstrap rtl/ltr -->
{% if request.LANGUAGE_CODE in 'ar he fa ur' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
{% else %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
{% endif %}
<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
<!-- favicon -->
<link rel="icon" type="image/x-icon" href="{% static 'img/FWB_QUADRI_VERTI_1_.png' %}">
<!-- Icônes -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- Style personnalisé -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Boutons -->
<link rel="stylesheet" href="{% static 'css/boutons.css' %}">
<!-- Loader -->
<link rel="stylesheet" href="{% static 'css/loader.css' %}">