{% extends 'public/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load utility %}
{% block titre %}Allez !{% endblock %}

{% block contenu %}
	<div class="container min-vh-100">
		<div class="row pt-5 justify-content-between align-items-center">
			<div class="col-lg-6 last-md-order first-order">
				<img src="{% static 'img/undraw_mic-drop.svg' %}" class="img-fluid">
			</div>
			<div class="col-lg-6">
				<p class="lead fw-bold mt-5">Vous vous apprêtez à vous désengager de </p>
				<h1 class="text-center"><strong>{{ object.cible.nom }}</strong></h1>
				<p class="lead fw-bold">Ok.</p>
				<p>Notez bien que ce désengagement modifiera la composition de l'équipe en charge de votre {{ object.cible|get_class_name }}.</p>
				<form method="POST">
					{% csrf_token %}
					<div class="form-group text-center mt-5">
						<button type="submit" class="btn btn-danger" value="Confirm"><i class="bi bi-check-circle me-2"></i>Confirmer</button>
						<button onclick="window.history.back();" class="btn btn-success"><i class="bi bi-x-circle me-2"></i>Annuler</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}