{% extends 'public/base.html' %}
{% load static %}
{% load i18n account %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block css_supp %}
<style>
.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
</style>
{% endblock %}

{% block titre %}{% trans "Profil" %}{% endblock %}

{% block contenu %}
<div class="container section min-vh-100">
<!-- En-tête de la page -->
    <div class="row mb-3 align-items-center">
        <div class="col-md-10">
            <div class="card shadow-lg bg-body">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img class="rounded-circle mx-auto d-block position-relative img-thumbnail" src="{{ profil.photo.url }}" alt="{{ profil }}" style="width: 100px;height: 100px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h1>
                                {% if profil.user.last_name or profil.user.first_name %}
                                {{ profil.user.get_full_name }}
                                {% else %}
                                {{ profil.user }}
                                {% endif %}
                            </h1>
                            <small>{{ profil.user.groups.first }} - Créé {{ profil.created|naturaltime }} et modifié {{ profil.modified|naturaltime }} -
                                Dernière connexion {{ profil.user.last_login|naturaltime }}
                            </small>
                        </div>
                    </div>
                    <!-- Onglets -->
                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#my_load" aria-current="page">
                                <i class="bi bi-house me-1"></i>My Load
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#my_work">
                                <i class="bi bi-folder2-open me-1"></i>My Work
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#settings">
                                <i class="bi bi-gear me-1"></i>Réglages
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#celen_wrkld">
                                <i class="bi bi-clipboard2-pulse me-1"></i>Dashboard Celen
                            </a>
                        </li>
                    </ul>               
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <span class="display-3 fw-bold">
                {{ profil.total_contribution }}%
            </span>
        </div>
    </div>
<!-- Contenu des onglets -->
    <div class="row mb-3">
        <div class="col">
            <div class="tab-content">
<!-- My Load -->
                <div id="my_load" class="tab-pane fade show active">
                    {% include "ressource/users/profile_load.html" %}
                </div>
<!-- My Work -->
                <div id="my_work" class="tab-pane fade">
                    {% include "ressource/users/profile_work.html" %}
                </div>
<!-- Réglages -->
                <div id="settings" class="tab-pane fade">
                    {% include "ressource/users/profile_settings.html" %}
                </div>
<!-- Celen -->
                <div id="celen_wrkld" class="tab-pane fade">
                    {% include "ressource/users/profile_workload.html" %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js_supp %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Récupère tous les champs de type "range" qui font partie des implications
    const sliders = document.querySelectorAll('input[type="range"][name*="-contribution"]');

    sliders.forEach(function (slider) {
      // Crée un élément <output> s’il n’existe pas déjà après le champ
      let output = slider.parentNode.querySelector('.form-range-value');
      if (!output) {
        output = document.createElement('output');
        output.className = 'form-range-value';
        slider.parentNode.appendChild(output);
      }

      // Met la valeur initiale
      output.textContent = slider.value + " %";

      // Met à jour dynamiquement
      slider.addEventListener('input', function () {
        output.textContent = this.value + " %";
      });
    });
  });
</script>
{% endblock %}