{% load static %}
{% load i18n account %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load utility %}

{% if implication_forms %}
<form method="post">
    {% csrf_token %}
<div class="row">
    <div class="col">
        <ul class="list-inline small float-end">
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-primary-bg-subtle);"></i>Projet</li>
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-success-bg-subtle);"></i>Tâche</li>
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-warning-bg-subtle);"></i>Livrable</li>
        </ul>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-lg bg-body">
            <div class="card-body">
                    <table id="table_id" class="display align-middle" width="100%">
                        <thead>
                            <tr>
                                <th>Cible</th>
                                <th>Rôle</th>
                                <th>Charge</th>
                                <th>Nature</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in implication_forms %}
                            <tr class="
                            {% with form.instance.cible as cible %}
                                {% if cible|get_class_name == "Projet" %}
                                bg-primary-subtle
                                {% elif cible|get_class_name == "Tache" %}
                                bg-success-subtle
                                {% elif cible|get_class_name == "Livrable" %}
                                bg-warning-subtle
                                {% endif %}
                            {% endwith %}
                            ">                           
                                <td>
                                    <a class="text-decoration-none" href="{{ form.instance.cible.get_absolute_url }}">
                                        {{ form.instance.cible }}
                                    </a>
                                </td>
                                <td>{{ form.role|as_crispy_field }}</td>
                                <td class="align-items-center">{{ form.contribution|as_crispy_field }}</td>
                                <td>{{ form.nature|as_crispy_field }}</td>
                                <td>
                                    <a href="{% url 'workload:implication_delete' form.instance.pk %}?next={{ request.path }}" class="btn btn-danger btn-sm" title="Se désengager" data-bs-toggle="tooltip" data-bs-placement="top">
                                        Se désengager
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-lg bg-body">
            <div class="card-body">
                <div class="d-grid gap-2 d-md-block text-center">
                    <button class="btn btn-primary btn-sm" type="submit"><i class="bi bi-wrench-adjustable-circle me-2"></i>Enregistrer ma charge de travail</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% else %}
<div class="row">
    <div class="col text-center">
        <p class="text-muted"><i class="bi bi-info-circle me-2"></i>Vous n'êtes impliqué dans aucun projet, tâche ou livrable pour le moment.</p>
    </div>
</div>
{% endif %}

