{% load static %}
{% load i18n account %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load utility %}

{% if implication_forms %}
<div class="row mb-3">
    <div class="col">
        <ul class="list-inline">
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-primary-bg-subtle);"></i>Projet</li>
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-success-bg-subtle);"></i>Tâche</li>
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-warning-bg-subtle);"></i>Livrable</li>
        </ul>

        <form method="post">
            {% csrf_token %}
            <div class="row mb-3 g-3">
            {% for form in implication_forms %}
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-lg h-100
                    {% with form.instance.cible|get_class_name as type_objet %}
                        {% if type_objet == "Projet" %}bg-primary-subtle{% elif type_objet == "Tache" %}bg-success-subtle{% elif type_objet == "Livrable" %}bg-warning-subtle{% else %}bg-body{% endif %}
                    {% endwith %}
                    ">
                        <div class="card-body">
                            <h5>{{ form.instance.cible }}</h5>
                            <output class="form-range-value" aria-hidden="true"></output>
                            {{ form|crispy }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="card shadow-lg bg-body">
                        <div class="card-body">
                            <div class="d-grid gap-2 d-md-block text-center">
                                <button class="btn btn-primary btn-sm" type="submit"><i class="bi bi-wrench-adjustable-circle me-2"></i>Ajuster</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </form>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col text-center">
        <p class="text-muted"><i class="bi bi-info-circle me-2"></i>Vous n'êtes impliqué dans aucun projet, tâche ou livrable pour le moment.</p>
    </div>
</div>
{% endif %}

