{% load static %}
{% load i18n account %}
{% load humanize %}
{% load crispy_forms_tags %}
{% if mon_activite.livrables or mon_activite.projets or mon_activite.taches %}
<div class="row">
    <div class="col">
        <ul class="list-inline small float-end">
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-primary-bg-subtle);"></i>Projet</li>
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-success-bg-subtle);"></i>Tâche</li>
            <li class="list-inline-item"><i class="bi bi-square-fill me-2" style="color: var(--bs-warning-bg-subtle);"></i>Livrable</li>
        </ul>
    </div>
</div>
<div class="row mb-3 justify-content-center g-3">
    
    <div class="col-lg-4 col-md-6">
        <div class="card h-100 shadow-lg bg-warning-subtle">
            <div class="card-body">                
                <h3 class="d-flex justify-content-between">
                    Mes livrables
                    <div class="dropdown">
                        <button class="btn btn-sm border-secondary-subtle rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'workload:livrable_create' %}?next={{ request.path }}">Ajouter</a></li>
                            <li><a class="dropdown-item" href="{% url 'workload:livrable_list' %}">Voir la liste</a></li>
                        </ul>
                    </div>                        
                </h3>
                {% if mon_activite.livrables %}
                <ul class="list-unstyled">
                    {% for l in mon_activite.livrables %}
                    <li><a href="{% url 'workload:livrable_details' l.pk %}">{{ l }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-muted"><i class="bi bi-info-circle me-2"></i>Pour vous impliquer dans ou créer un nouveau livrable, cliquer sur l'icône <i class="bi bi-three-dots-vertical"></i> ci-dessus.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6">
        <div class="card h-100 shadow-lg bg-primary-subtle">
            <div class="card-body">
                <h3 class="d-flex justify-content-between">
                    Mes projets
                    <div class="dropdown">
                        <button class="btn btn-sm border-secondary-subtle rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'workload:projet_create' %}?next={{ request.path }}">Ajouter</a></li>
                            <li><a class="dropdown-item" href="{% url 'workload:projet_list' %}">Voir la liste</a></li>
                        </ul>
                    </div> 
                </h3>
                {% if mon_activite.projets %}
                <ul class="list-unstyled small">
                    {% for p in mon_activite.projets %}
                    <li><a href="{% url 'workload:projet_details' p.pk %}">{{ p }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-muted"><i class="bi bi-info-circle me-2"></i>Pour vous impliquer dans ou créer un nouveau projet, cliquer sur l'icône <i class="bi bi-three-dots-vertical"></i> ci-dessus.</p>
                {% endif %}
            </div>
        </div>
    </div>

    
    <div class="col-lg-4 col-md-6">
        <div class="card h-100 shadow-lg bg-success-subtle">
            <div class="card-body">
                <h3 class="d-flex justify-content-between">
                    Mes tâches
                    <div class="dropdown">
                        <button class="btn btn-sm border-secondary-subtle rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'workload:tache_create' %}?next={{ request.path }}">Ajouter</a></li>
                            <li><a class="dropdown-item" href="{% url 'workload:tache_list' %}">Voir la liste</a></li>
                        </ul>
                    </div> 
                </h3>
                {% if mon_activite.taches %}
                <ul class="list-unstyled small">
                    {% for t in mon_activite.taches %}
                    <li><a href="{% url 'workload:tache_details' t.pk %}">{{ t }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-muted"><i class="bi bi-info-circle me-2"></i>Pour vous impliquer dans ou créer un nouvelle tâche, cliquer sur l'icône <i class="bi bi-three-dots-vertical"></i> ci-dessus.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col text-center">
        <p class="text-muted"><i class="bi bi-info-circle me-2"></i>Vous n'êtes impliqué dans aucun projet, tâche ou livrable pour le moment.</p>
    </div>
</div>
{% endif %}